{
	"data": "ENC[AES256_GCM,data:P2qWKjwetwYcM+ocgTpu4i3AkDJH6VFhaUZCb5UA6r48DdRSGH84gaLw3OI3aOJF3BfwyCcI9NzFJz4ywfE=,iv:mmQPREtw05NHMuTQtgWLqkRHfoz+hgWaqaI5ClI0dZA=,tag:978o/9VWqFRskGlv0UkAHg==,type:str]",
	"sops": {
		"age": [
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB1bnF1SEdiaTd1dm9VTW1m\nemlKZFBSMlpQQU9hV0JBa1VlQmxxc1hMZW5VCmEzRHl4V0hvazNUaWIyV3F0QlNk\nNVVNTmxPRFQzT1h4RW82MTlCNnpycncKLS0tIGExQ1liUytXVnljMUE0emg5aURX\ncUJrMnVCcDJjemZ0allLYUtFdWppRGMKjMYm0fpfbCa4s3A1uHsju+AKwIoG7MuG\ni/Ke7X1ESutMYpge5ByUPKFODIO+/3hgHQ1aHSZQbbOgwpZFKU/MTQ==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "age1et3dh7wm5pdr7f8h5e6damqmtpzenze6acpwx9tyql5h0qzhj9fq2mlfl5"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBFQzhEY0Fuc3I0a0l2MFY5\nNWNtY3dqSkc5S0RNSlB6RlhYQ2Z5dFIxUXhzCjROTG5EQ2UyZDZyUk1zdjJub0V6\nc211aHNEUUREd3dXdGVhTVNSdlJwbHcKLS0tIG5UblpMRHNiMUR1QVhzUHBEemZ5\nVCtCM1lmbjRUL25NNFRqQmZIVmpTa2sKhUUjlUab96D0m3lcQUvrsv0tzw07FE9K\nPnC9WBbh6zn9VjLljjd+zET3im4ESdjr+9l0vC6v+Tyd1a+9FpLxEw==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "age1mvk4tj7kp9spfftefhlr25xrr4dsrxetcmyldpnmv8sulv90lunq20fjj0"
			}
		],
		"lastmodified": "2026-06-28T16:06:46Z",
		"mac": "ENC[AES256_GCM,data:l8ntPo1/nhtVQzVuU9Pae9tGFYqrPAMJcvTrNR+F6AMcw1Eg7aGYoRFbAJ0ULezoiufquKAp8Dd0j3XYHb07Wn2d1FpCBLGAcYgL5iZjBsHNkFA0S3NUwlUF3C3gYE4g0VEV3gvBLAvuHJm7Y5hg1+3j3RV/5a6N0zwVk0tfXUQ=,iv:MOrCSVJCKaPoqoOAU41hQpoQPSuEMoUZYY1xFfVvkE4=,tag:dx0w/fPyOskSq9FNGh83jw==,type:str]",
		"version": "3.13.0"
	}
}
