{
	"data": "ENC[AES256_GCM,data:H69tldc1rDloU/gH2m7wdNxaaNeXQx2t9iAFbKuhx9W2IeAVgmvmr7c6d5YAgVDpSHXI69lQQJASq1wBLcM=,iv:6U20AgH34kQAIVuERGYXCkb6kdUXBwsge5j0g/Ik8wc=,tag:ErBus8Pe/sJigg/9AzstRA==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1eggdzmjp2h4a68kn0j5zay72s7s6tc7qzak6cy9zp3dj0rwxxetsmz4t52",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4UHFwVHAyVVZ4Q2V5QllO\nb2dnaGpVOEx5ZTU1LzhQU3pPSk1wQ2dtWHgwCkVlb2NJZUFzUXpEemExTXJSa2tD\nQUZ2V3k4RFdHVnJYdWU4bmlWSXBYZ0EKLS0tIGNoZFB6V0hVNXdTbDJqejM5bjhX\nbG1XeTl5bmNnVE5La2E3cFhhYmRzVVUKWhTvTHMGxsb1+Kh1AwMQgIyJ6Jk/IHgE\ntVi49gbUyXu3LsB7zjSqQYzfrhv21q3qvBU8Mx96gQdtZW1hLhhxow==\n-----END AGE ENCRYPTED FILE-----\n"
			},
			{
				"recipient": "age1lnkpac97m7drx3k2ej5jwccfa99z4n2sxlezwzjfcevwqtvw9chs8knmtc",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB1ZEk3SE41czZCVzhkc0Ev\nU0J5VldwUlVqK09JQ1RmZnVjQlBxMW52NmhvCnk4Z0NUQ0ZtcDJCY3NVSVBkdXNI\nQlMxQy9XTXNaYzZNU3VwZDBZMEVrOTQKLS0tIDd4TnFYdFViNlRVRnArY2kxRkVE\ndVFBYWxVdHdydy9pSkFlbUEwdG5PbHcK2SJyyPkpIbcUcDQbeWTaR5d3/cvlnql1\no6JQ7GowyoQNxViyi85GlTAS7UMh5O/RchykNKcGrqqLHy21jo3e5Q==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-12-15T17:52:53Z",
		"mac": "ENC[AES256_GCM,data:MmY3R94klN8sYwkSKl5cfyEve6wtTmp7f1IgzamhrsObgCjebWJs71TgCVPdJ51lVDuuk4WQhNanGojNcoWYUq5Zl4S/CkkRt5ioYvoRndDPYJt5tkjBpW7NQ7xG+ZDBWFLnMfdZJfMWnSZl6ao5RvaGrgWvbWxsDgF2ryCLY8U=,iv:WoQFHZcaxMtUL7cP947tZZ+dWl9gQa5Qfr8Ebf59ieE=,tag:eQXYBxFQmJWsVOh/oMV+4g==,type:str]",
		"version": "3.11.0"
	}
}
